
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

@font-face {
    font-family:'Norse-Bold';
    src: url(../fonts/Norse-Bold.otf);
}

* {
    box-sizing: border-box;  
    margin: 0;
    padding: 0;
}

body {     
    display: flex;    
}

.right-section,.left-section {
    height:100vh;
    display: flex;
}

/* LEFT SECTION */

.left-section {
   background:url(../images/photo-1585202900225-6d3ac20a6962.avif); 
   font-family:'Norse-Bold','Roboto',sans-serif;  
   background-size: cover;
   width:40vw;
   color: white;
   flex-direction: column;
   justify-content: space-between; 
   font-size: 2rem;
}

.left-section .logo-background {
    background-color:rgba(0,0,0,0.5); 
    padding:20px 0;   
    margin-top:140px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.left-section img {
    width:80px; 
}

.left-section p {
    font-family: var(--secondary-font);
    font-family:'Roboto',sans-serif;   
    font-size: 0.8rem;    
    align-self: center;   
}

.left-section  a{
    color: white;
}

/* RIGHT SECTION */

.right-section {
    font-family:'Roboto',sans-serif;
    width:60vw;
    flex-direction: column;
}

/* MESSAGE SECTION */

.right-section .message-container {
    margin-top:100px;    
}

.message-container  p {
    font-weight: bold;
    font-size: 1rem; 
    margin-left:40px;   
}

.message-container  p + p {
    margin-top:20px;
}

/* FORM */

.form-container {   
    margin-top:60px;  
}

.form-container h1 {
    margin-left:40px;
}

form {
    margin-top:20px;
    display: flex;
    flex-direction: column; 
}

form .form-row {
    display: flex;
    flex-wrap: wrap;    
}

form section:nth-child(1) {
    box-shadow: 0px 3px 3px 0px gray;
}

form p {  
    margin:0 50px 20px 40px;
}

form label,input {
    display: block;   
}

form label {
    font-size: 0.7rem;
}

form input {
    border:1px solid gray;
    border-radius:3px;
    height: 25px;
    width:200px;
}

form button {
    margin-top:20px;
    border: none;
    color:white;
    background-color: blueviolet;
    font-weight:bold;
    padding:10px 30px;
    border-radius: 5px;
}

.right-section > p {
    margin-left: 40px;
}

